/* Poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');

:root{
    --main-color: orangered;
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
html{
    scroll-behavior: smooth ;
}
body{
    background-color: #010100;
    color: white;
}

header{
    background-color:#010100;
    position: sticky;
    top: 0;
    z-index: 4444;

}

li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    
}
li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color:var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
li a:hover::after{
    width: 100%;
}


.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    padding: 0 25px;

}


.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
   

}

.nav-branding{
    font-size: 37px;
    color: #fff;
    font-weight: 600;
    

}
.man{
    color: var(--main-color);
    font-size: 30px;
}

.nav-link{
    transition: 0.6s ease;
}


.hamburger{
    display: none;
    cursor: pointer;
}


.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    

}

.imoji{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    transition: 0.3s;
    font-size: 34px;
    animation: bgColor 4s  alternate infinite;
    position: relative;
    transition: 0.5s;
}



@keyframes bgColor{
    20%{
        filter: drop-shadow(3px 3px 10px  red);
    }
    40%{
        filter: drop-shadow(3px 3px 10px  blue);
    }
    60%{
        filter: drop-shadow(3px 3px 10px green);
    }
    80%{
        filter: drop-shadow(3px 3px 10px yellow);
    }
    100%{
        filter: drop-shadow(3px 3px 10px white);
    }
}

/* start home section =======================================================  */
.container2 img{
    width: 600px;
}
.home{
    
    background-image: url(img/images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top:100px ;
    height: 90vh;
}


.home .container1 {
  margin-left: 130px;
  position: relative;

}




.home .container1 h3{
    font-size: 40px;
    
    
    
}
.home .container1 h3 span{
    color: var(--main-color);
    font-size: 38px;
    border-bottom: 4px solid var(--main-color);
    background-color: white;
    border-radius: 5px;
    padding: 4px ;
}

.home .container1 h2{
    font-size: 40px;
    margin-top: 30px;

    
}

.home .container1 h1{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    transition: 0.4s;
    animation: redacolor 7s  alternate infinite forwards;
    font-weight: 800;
    position: relative;
   
}
@keyframes redacolor{
    30%{
        color: rgb(216, 70, 16);
    }
    60%{
        color: #f0f;
    }
    90%{
        color: orangered
    }
    100%{
        color: var(--main-color);
    }
}


.home .container1 p{
    font-size: 17px;
    margin-top: 30px;
    width: 500px;
    line-height: 30px;
    text-align: justify;
    color:white;
    padding-bottom: 20px;
   

}

.btn2 {
    font-size: 20px;
    color: white;
    font-weight: 600;
    border: 2px solid --main-color;
    padding: 5px 9px;
    border-radius: 6px;
    transition: 0.54s;
 
    
 
 }
 



.home a:hover{
    color:var(--main-color);
    background-color:white;
}

.home .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home  img{
    width: 600px;
    margin-right: 100px;
    filter: drop-shadow(5px 5px 14px white);
    animation: bgColor 4s  alternate infinite;
    
}

/* start about section ====================================  */

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    gap: 120px;
    padding: 0px 90px;

}
.about-img img{
    width: 420px;
    border-radius: 20px;
    box-shadow: var(--main-color) 4px 4px 23px;

    
}
.about-text h2{
    font-size: 34px;
    padding-bottom: 60px;
    color: white;
    
    
}
.about-text p{
    max-width:800px;
    text-align:start;
    font-size: 19px;
    font-weight: 550px;
    color: white;
}

/* start services section  */

#services{
    padding: 30px 90px;
    padding-top: 100px;
}
.sub-title{
    font-size: 40px;
    text-align: center;
    color: white;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 36px;
    margin-top: 30px;
}


.services-list div {
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
}
.services-list div i{
    font-size: 40px;
    margin-bottom: 10px;
    transition: 0.5s;

}

.services-list div h2{
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
    

}


.services-list div a{
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    font-size: 19px;
    border: 2px solid white;
    padding: 6px 10px;
    border-radius: 4px;

}
.services-list div:hover{
    background-color: var(--main-color);
    transform: translateY(-10px);
}


/* start portfolio section ===================================  */

#portfolio{
    padding: 150px 0px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 36px;
    margin-top: 50px;
    padding: 0px 50px;
}

.work{

    color: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
   

}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 100%;
    transition: 0.44s;

}

.layer{
    width: 100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6),var(--main-color) );
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    font-size: 15px;
    transition: 0.44s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 24px;
}

.layer a{
    margin-top: 20px;
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid var(--main-color);
    padding: 14px 50px;
    color: white;
    border-radius: 6px;
    transition: 0.55s;
}

.btn:hover{
    background: var(--main-color);
}


/* ================ contact section ====================  */

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
    padding: 0px 90px;
}

.contact-left{
    flex-basis: 35%;
   
}

.contact-right{
    flex-basis: 40%;
}

.contact-title{
    font-size: 40px;
    text-align: center;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: var(--main-color);
    margin-right: 15px;
    font-size: 25px;

}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.44s;
    

}
.social-icons a:hover{
    color: var(--main-color);
    transform: translateY(-5px);
    
}


.contact-right form{
    width: 100%;

}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px ;
    margin: 15px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.btn3{
    font-size: 18px;
    color: white;
    border: 1px solid #fff;
    background: var(--main-color);
    padding: 7px ;
    border-radius: 6px;
    cursor: pointer;
}

.end{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}


/* start make website responsive =================  */

@media (max-width:1080px){
    .about-img img{
        width: 280px;
    }
    .services-list div h2{
        font-size: 23px;
    }
}

@media(max-width:890px){
    .about {
        padding-top: 6px;
        display: flex;
        align-items: center;
        
        
    }
  
    .about-img img{
        width: 170px;
        
        margin-top: 60px;
    }
    .about-text p{
        width: 420px;
    }

    .home .container1 h1{
        font-size: 40px;
    }
    .home .container1 h3{
        font-size: 27px;
    }
    .home .container1 h3 span{
        font-size: 30px;
    }
    .home .container1 h2{
        font-size: 36px;
    }
    .home .container1 p{
        font-size: 17px;
        width: 380px;
        text-align: left;
    }
    .home .container1 a{
        font-size: 19px;
    }
}



@media(max-width:880px){
    .imoji{
        display: none;
    }
    .hamburger{
        display: block;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;

    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:rgba(30, 30, 14, 0.267) ;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background:#010100;
    }
    .nav-item{
        margin: 16px 0;

    }

    .nav-menu.active{
        left: 0;

    }

    .container .services-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}





@media (max-width:740px){
    .about-text p{
        width: auto;
    }
}



@media(max-width:732px){
    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about{
        flex-direction: column;
    }

    .home .container1 h1{
        font-size: 35px;
    }
    .home .container1 h3{
        font-size: 23px;
    }
    .home .container1 h2{
        font-size: 34px;
    }

    .home .container1 p{
        max-width: 300px;
        font-size: 15px;
    }
    .about {
        padding-top: 50px;
    }
    .about h2{
        text-align: center;
    }
    .about-text p{
        font-size: 16px;
        margin: 0 auto;
    }
    .home .container1{
     margin-left: 60px;   
    }
    
}

@media(max-width:460px){
    .home{
        background-position: center;
        background-size: cover;
        
    }
    .home .container1 h1{
        font-size: 30px;
    }
    .home .container1 h2{
        font-size: 27px;
    }
    .home .container1 h3 span{
        font-size: 22px;
    }
    .home .container1 a{
        font-size: 18px;
    }
    .home .container1 p{
        font-size: 14px;
        text-align: left;
    }

    .about-text{
        padding-bottom: 140px;
    }
    .about-img img{
        margin-top: 250px;
    }
    .about{
        padding-bottom: 100px;
        gap: 10px;
    }

    .about p{  
        font-size: 14px;
        text-align: center;
        width: 300px;
    }
    .sub-title{
        font-size: 30px;
    }
    .services-list div i{
        font-size: 35px
    }
    .services-list div h2{
        font-size: 19px;
    }
    .services-list div p{
        font-size: 13px;
    }
    .services-list div{
        padding: 10px;
    }
    .services-list div a{
        font-size: 15px;

    }
    .row input{
        width: 300px;
        
    }
    .row textarea{
        width: 300px;
    }
    .thank-you{
        transform: translateX(130%);
    }

    .work {
        height: 210px;
    }
    .work h3{
        font-size: 19px;
    }
    .work p{
        font-size: 14px;
    }
    .work .layer a i{
        font-size: 17px;
        padding: 0;
        margin-bottom: 4px;
    }

    
}


@media(max-width:380px){
    .home .container1 p{
        font-size: 12px;
        width: 220px;
    }
    .home .container1 h1{
        font-size: 28px;
    }
}


